@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OsWald';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'OsWald', sans-serif;
}

.category {
    margin-bottom: 12px;
}

/* CSS สำหรับหน้าจอขนาดมากกว่า 1024px */
@media (min-width: 1024px) {
    .allproduct {
        padding-top: 60px;
    }

    .description {
        margin-bottom: 30px;
    }

    .gentlewomensell {
        padding-left: 90px;
        padding-right: 90px;
    }

    .productCard,
    .nownotforsell {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* CSS สำหรับหน้าจอขนาดน้อยกว่าหรือเท่ากับ 1024px */
@media (max-width: 1024px) {
    .allproduct {
        padding-top: 20px;
    }

    .description {
        margin-bottom: 20px;
    }

    .gentlewomensell,
    .productCard,
    .nownotforsell {
        padding-left: 5px;
        padding-right: 5px;
    }

}


@media (max-width: 768px) {

    .description, .descriptionItem, .buybutton, .buttonSize {
        font-size: 10px;
    }
}



@media (max-width: 543px) {
    .buttonOfDetail{
        flex-direction: column;
        text-align: left;
    }
}

.description, .descriptionItem, .buybutton, .buttonSize {
    font-weight: 350;
}